@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin:0px;
  font-family: 'Poppins', Tahoma, sans-serif;
  /* Night mode */
  /* background-color: rgb(34, 34, 54); */
  /* color: #dedede; */
}

button{
  cursor: pointer;
}

.game-grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 200px 200px 200px auto 200px 200px 200px;
  grid-template-rows: 40px 48px 160px 148px 1px 148px 160px 48px;
  align-items: center;
  /* column-gap: 16px; */
  justify-content: space-between;
  grid-template-areas:
      "top-bar top-bar top-bar top-bar top-bar top-bar top-bar"
      ". . top-player-info top-player-info top-player-info . ."
      ". . top-hand top-hand top-hand . ."
      "left-player-info left-hand . top-table . right-hand right-player-info"
      "left-player-info left-hand left-table game-actions right-table right-hand right-player-info"
      "left-player-info left-hand . bottom-table . right-hand right-player-info"
      ". game-info-left bottom-hand bottom-hand bottom-hand game-info-right ."
      ". . bottom-player-info bottom-player-info bottom-player-info . . "
}

.grid-hand, .grid-table, .grid-player-info, .grid-game-center {
  text-align: center;
}

.grid-top-bar {
  grid-area: top-bar;
}

.kitty {
  margin-bottom: 12px;
}

.grid-game-info-left {
  grid-area: game-info-left;
}
.grid-game-info-right {
  grid-area: game-info-right;
}

.grid-player-info-left {
  align-items:start;
  grid-area: left-player-info;
  /* writing-mode: vertical-rl; */
  padding-left: 24px;
  transform: rotate(90deg);
}
.grid-player-info-top {
  grid-area: top-player-info;
  margin-bottom: 12px;
}
.grid-player-info-right {
  grid-area: right-player-info;
  /* writing-mode: vertical-rl; */
  transform: rotate(270deg);
  padding-left: 24px;
}
.grid-player-info-bottom {
  grid-area: bottom-player-info;
  margin-top: 12px;
}

.grid-hand-left {
  grid-area: left-hand;
}
.grid-hand-top {
  grid-area: top-hand;
}
.grid-hand-right {
  grid-area: right-hand;
}
.grid-hand-bottom {
  grid-area: bottom-hand;
}

.grid-table-left {
  grid-area: left-table;
}
.grid-table-top {
  grid-area: top-table;
}
.grid-table-right {
  grid-area: right-table;
}
.grid-table-bottom {
  grid-area: bottom-table;
}

.grid-game-center {
  grid-area: game-actions;
}

.grid-hand-bottom {

}

/* Cards */
.card {
  display: inline-block;
  height: 128px;
  width: 88px;
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 8px;
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
  position: relative;
  background-color: white;
  cursor: pointer;
}

.card-facedown {
  background-color:white;
  background-image: linear-gradient(45deg, rgba(200,0,0,.5) 50%, transparent 50%),
  linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
  background-size:10px 10px;
  border: 2px solid #fff;
  /* background-image: url("https://i.ibb.co/S6M6yTY/cardback-jordon.png");
  background-size: cover; */
}

.card-value {
  font-size: 24px;
  font-family: 'Kurale', serif;
  line-height: 1;
}

.card-top {
  position: absolute;
  top:8px;
  left:8px;
}

.card-bottom {
  position: absolute;
  bottom:8px;
  right:8px;
  transform: rotate(180deg);
}

.card-suit {
  font-size: 60px;
  line-height: 1;
  margin-top: 38px;
  display: block;
  text-align: center;
}

.text-suit-red {
  color: red;
}

/* Rotate left/right oriented cards */
.grid-table-right .card, .grid-hand-right .card, .grid-table-left .card, .grid-hand-left .card {
  transform: rotate(90deg);
  margin-bottom: -20px;
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 20px;
}
/* End Rotation */

/* stack cards */
.grid-hand-top .card:first-child, .grid-hand-bottom .card:first-child{
  margin-left: 0;
}
.grid-hand-top .card, .grid-hand-bottom .card {
  margin-left: -48px;
}
.grid-hand-right .card:first-child, .grid-hand-left .card:first-child {
  margin-top: -20px;
}
.grid-hand-right .card, .grid-hand-left .card {
  margin-top: -116px;
}


.card.playable {
  bottom: 8px;
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 8px 2px rgba(65, 32, 255, 0.1);
}

#top-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
}
/* 
#logo-container {
  display: inline-block;
  width: 400px;
  background-color: #62bd19;
} */

#app-name{
  display: inline-block;
  font-size: 24px;
  margin-left: 24px;
  padding-top: 24px;
  /* transform: skewY(30deg); */
}

#player-id{
  display: inline-block;
  font-size: 16px;
  margin-right: 24px;
  padding-top: 24px;
  font-weight: 400;
}

.grid-player-info-name{
  display: inline;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

.grid-player-claim-seat{
  display: inline-block;
}

/* .grid-player-info-left > .grid-player-claim-seat{
  transform: rotate(90deg);
}

.grid-player-info-right > .grid-player-claim-seat{
  transform: rotate(90deg);
} */


#score{
  padding: 24px;
  background-color: #f9f0f0;
  border-radius: 6px;
  height: 120px;
}

#trump{
  padding: 24px;
  background-color: #f9f0f0;
  border-radius: 6px;
  height: 120px;
}

.game-info-label{
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.game-info-score{
  float:right;
}

button{
  background-color: #f2f2f2;
  padding: 8px 16px 8px 16px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #dedede;
}

button:hover:enabled {
  background-color: #dedede;
}

/* Pulsing turn indicator */
/* https://codepen.io/vram1980/pen/Kyaie */


.ring-container {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 8px;
}

.ringring {
  border: 3px solid #62bd19;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 0px;
  top: 2px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}