@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&display=swap');

body, h1 {
  margin:0px;
  font-family: 'Baloo Paaji 2', cursive;
}

.game-grid {
  display: grid;
  /* Use FR instead for layout.. */
  /* also add spacing so cards are grouped near the center on big screens */
  grid-template-columns: 100px 150px 200px auto 200px 150px 100px;
  grid-template-rows: 48px 75px 160px 160px auto 160px 160px 75px;
  grid-template-areas:
      "top-bar top-bar top-bar top-bar top-bar top-bar top-bar"
      ". . top-player-info top-player-info top-player-info . ."
      ". . top-hand top-hand top-hand . ."
      "left-player-info left-hand . top-table . right-hand right-player-info"
      "left-player-info left-hand left-table game-actions right-table right-hand right-player-info"
      "left-player-info left-hand . bottom-table . right-hand right-player-info"
      ". . bottom-hand bottom-hand bottom-hand . . "
      "game-info-left game-info-left bottom-player-info bottom-player-info bottom-player-info game-info-right game-info-right"
}

.grid-hand, .grid-table, .grid-player-info {
  text-align: center;
}

.grid-top-bar {
  grid-area: top-bar;
}

.grid-game-info-left {
  grid-area: game-info-left;
}
.grid-game-info-right {
  grid-area: game-info-right;
}

.grid-player-info-left {
  grid-area: left-player-info;
  background-color: lightgrey;
  writing-mode: sideways-lr;
}
.grid-player-info-top {
  grid-area: top-player-info;
  background-color: lightgrey;
}
.grid-player-info-right {
  grid-area: right-player-info;
  background-color: lightgrey;
  writing-mode: sideways-rl;
}
.grid-player-info-bottom {
  grid-area: bottom-player-info;
  background-color: lightgrey;
}

.grid-hand-left {
  grid-area: left-hand;
  background-color: blue;
}
.grid-hand-top {
  grid-area: top-hand;
  background-color: green;
}
.grid-hand-right {
  grid-area: right-hand;
  background-color: yellow;
}
.grid-hand-bottom {
  grid-area: bottom-hand;
  background-color: red;
}

.grid-table-left {
  grid-area: left-table;
  background-color: lightblue;
}
.grid-table-top {
  grid-area: top-table;
  background-color: lightgreen;
}
.grid-table-right {
  grid-area: right-table;
  background-color: lightyellow;
}
.grid-table-bottom {
  grid-area: bottom-table;
  background-color: pink;
}

.grid-game-actions {
  grid-area: game-actions;
}

.grid-kitty-left {
  grid-area: discard-left;
}
.grid-kitty-top {
  grid-area: discard-top;
}
.grid-kitty-right {
  grid-area: discard-right;
}
.grid-kitty-bottom {
  grid-area: discard-bottom;
}


/* stack cards */
.grid-hand-top .card:first-child, .grid-hand-bottom .card:first-child{
  margin-left: 0;
}
.grid-hand-top .card, .grid-hand-bottom .card {
  margin-left: -48px;
}
.grid-hand-right .card:first-child, .grid-hand-left .card:first-child {
  margin-top: 0;
}
.grid-hand-right .card, .grid-hand-left .card {
  margin-top: -96px;
}


.card {
  display: inline-block;
  height: 128px;
  width: 88px;
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 8px;
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.1);
  margin-right: 8px;
  margin-bottom: 8px;
  position: relative;
  background-color: white;
}

.card-facedown {
  background-color:white;
  background-image: linear-gradient(45deg, rgba(200,0,0,.5) 50%, transparent 50%),
  linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
  background-size:10px 10px;
  font-family: 'Kurale', serif;
  /* background-image: url("https://i.ibb.co/S6M6yTY/cardback-jordon.png");
  background-size: cover; */
}

.card-value {
  font-size: 24px;
  font-family: 'Kurale', serif;
  line-height: 1;
}

.card-top {
  position: absolute;
  top:8px;
  left:8px;
}

.card-bottom {
  position: absolute;
  bottom:8px;
  right:8px;
  transform: rotate(180deg) scaleX(-1);
}

.card-suit {
  font-size: 60px;
  line-height: 1;
  margin-top: 34px;
  display: block;
  text-align: center;
}

.text-suit-red {
  color: red;
}

.card.playable {
  border-color: green;
}

#top-bar {
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
}

#app-name{
  display: inline-block;
  font-family: 'Baloo Paaji 2', sans-serif;
  font-size: 24px;
  margin-left: 24px;
}

#player-id{
  display: inline-block;
  font-size: 16px;
  margin-right: 24px;
  font-weight: 400;
}

button{
  background-color: #f2f2f2;
  padding: 4px 16px 4px 16px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Baloo Paaji 2', sans-serif;
  font-weight: 700;
  border: 1px solid #dedede;
}

button:hover {
  background-color: #dedede;
}
