<% color = if Enum.member?(["♥","♦"], Map.get(@card, :suit)), do: "red", else: "black" %>
<% playable = Yooker.State.can_play_card?(@state, @card) %>

<%= if playable do %>
  <span class="card playable text-suit-<%= color %>" phx-click="play-card" phx-value-card="<%= @card %>">
<% else %>
  <span class="card text-suit-<%= color%>">
<%= end %>
  <%= Map.get(@card, :value) %>
  <%= Map.get(@card, :suit) %>
</span>
